.game-piece {
    height: 30px;
    width: 30px;
    border-style: outset;
    background-color: #BDBDBD;
}

.game-piece.triggered {
    background-color: red;
}

.game-piece.clicked {
    border: .5px solid #7F7F7F;
    height: 35px;
    width: 35px;
}

i.fa-bomb {
    padding: 8px;
}

i.fa-flag {
    padding: 9px 6px;
}

h1 {
    margin: 0;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}