.game-board {
    padding: 35px;
    background-color: gainsboro;;
}

.board-menu {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.flag-count {
    margin: 0;
    width: 50px;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.timer {
    flex: 1 1 auto;
}